.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

mat-toolbar mat-icon:first-child {
  margin-right: 10px;
}

button {
  display: flex;
  align-items: center;
  gap: 8px;
}
